@tailwind base;
@tailwind components;
@tailwind utilities;

.px-5 {
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.p-5 {
    padding: 20px !important;
}
.p-3 {
    padding: 12px !important;
}
.px-2 {
    padding-right: 8px !important;
    padding-left: 8px !important;
}