.ListTypeCalendarView {
    height: 100vh;
    margin: auto;
}
.HeaderListTypeCalendarView {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 15px;
    
}
.HeaderListTypeCalendarView button {
    background-color: #018241;
    border-radius: 30px;
    color: #ffffff;
}
.TableListTypeCalendarView {
    font-size: 20px;
    border: 0px solid;
    border-radius: 36px;
    overflow: hidden;
    margin-bottom: 15px;
}
.tbTableListTypeCalendarView > tr > th{
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 35px;
    padding-bottom: 35px;
    height: auto;
    width: auto;
  }

.tbTableListTypeCalendarView > tr > td{
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 35px;
    padding-bottom: 35px;
    height: auto;
    width: auto;
  }

  .tbTableListTypeCalendarView > tr > td > button {
    background-color: #018241;
    border-radius: 30px;
    color: #ffffff;
  }